<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Basic Form</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Forms</a>
      </li>
      <li class="active">
        <strong>Basic Form</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
