<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-wrapper" class="gray-bg">
    <app-navbar></app-navbar>
    
    <router-outlet></router-outlet>
    <div class="footer">
      <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
      </div>
      <div>
        <strong>Copyright</strong> BMS &copy; 2014-2017
      </div>
    </div>
  </div>
</div>
 