<!-- <ul class="nav nav-second-level collapse" >
  <li [ngClass]="{active: classActive.active==item.path}" *ngFor="let item of menu">
    <a *ngIf="item.childs.length > 0;else elseLink" href="#">
          <i class="{{item.fa}}"></i>
           <span class="nav-label">{{item.name}}</span> 
           <span class="fa arrow"></span>
          </a>
    <ul class="nav nav-second-level collapse" [ngClass]="{in: classActive.active==item.path}">
      <li *ngFor="let child of item.childs" [ngClass]="{active: classActive.sub == child.path}">
        <a (click)="link($event, item.path, child.path)" [routerLink]="['/' + child.path]">{{child.name}}</a></li>
    </ul>
  </li>
</ul> -->
<!-- <ng-template #elseLink>
  <a [routerLink]="['/' + item.path]">
           <span class="nav-label">{{item.name}}</span> <span class="fa arrow"></span>
          </a>
</ng-template> -->

  <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
