<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Khuôn viên siêu thị</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div id="parent" class="col-md-12">
          <canvas id="canvas" height="800px"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="checkbox">
            <label>
      <input type="checkbox" id="selection" checked> selection
    </label>
            <label>
      <input type="checkbox" id="unlock" >di chuyển gian hàng
    </label>

          </div>

        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">Change package</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Id:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
