<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="assets/img/profile_small.jpg" />
                             </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="profile.html">Profile</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="mailbox.html">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li app-menu class="special_link"></li>
      <li [ngClass]="{active: classActive.active==item.path}" *ngFor="let item of menu">
        <a *ngIf="item.childs.length > 0" href="#">
          <i class="{{item.fa}}"></i>
           <span class="nav-label">{{item.name}}</span> 
           <span class="fa arrow"></span>
          </a>
        <a *ngIf="item.childs.length == 0" [routerLink]="['/' + item.path]">
          <i class="{{item.fa}}"></i>
           <span class="nav-label">{{item.name}}</span>
          </a>

        <ul *ngIf="item.childs.length >= 0" class="nav nav-second-level collapse">
          <li *ngFor="let child of item.childs">
            <a *ngIf="child.childs.length > 0" href="#">
            <span class="nav-label">{{child.name}}</span> 
            <span class="fa arrow"></span>
          </a>
            <a *ngIf="child.childs.length == 0" [routerLink]="['/' + child.path]">
            <span class="nav-label">{{child.name}}</span> 
          </a>

            <ul *ngIf="child.childs.length > 0" class="nav nav-third-level collapse">
              <li>
                <a>{{child.name}}</a></li>
            </ul>
          </li>
        </ul>


      </li>

      <ng-template #selseLink>
        <a>
           <span class="nav-label">{{child.name}}</span>
          </a>
      </ng-template>
      <ng-template #elseLink>
        <a href="">
           <span class="nav-label">{{item.name}}T</span> <span class="fa arrow"></span>
          </a>
      </ng-template>


      <li class="landing_link">
        <a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
      </li>
      <li class="special_link">
        <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
      </li>
    </ul>

  </div>
</nav>
